In [3]:
### Ejercicio 2.13: MÃ¡s operaciones con diccionarios
import csv
with open('g:/proyectos/python/python_UNSAM/Notas/ejercicios_python/Data/camion.csv', 'rt') as f:
        lineas = csv.reader(f)
        headers = next(lineas)       
        linea = next(lineas)
        print(linea)
d = {
        'nombre' : linea[0],
        'cajones' : int(linea[1]),
        'precio'  : float(linea[2])
    }
d['fecha'] = (14,8,2020)
d['cuenta'] = 12345
d

['Lima', '100', '32.2']

{'nombre': 'Lima',
 'cajones': 100,
 'precio': 32.2,
 'fecha': (14, 8, 2020),
 'cuenta': 12345}

In [5]:
for k in d:
    print(k, '=', d[k])

nombre = Lima
cajones = 100
precio = 32.2
fecha = (14, 8, 2020)
cuenta = 12345

In [6]:
for k in d:
        print('k =', k)

k = nombre
k = cajones
k = precio
k = fecha
k = cuenta

In [9]:
items = d.items()
items

dict_items([('nombre', 'Lima'), ('cajones', 100), ('precio', 32.2), ('fecha', (14, 8, 2020)), ('cuenta', 12345)])

In [11]:
for k, v in d.items():
    print(k, '=',v)

nombre = Lima
cajones = 100
precio = 32.2
fecha = (14, 8, 2020)
cuenta = 12345

In [12]:
list(d)

['nombre', 'cajones', 'precio', 'fecha', 'cuenta']

In [13]:
claves = d.keys()
claves

dict_keys(['nombre', 'cajones', 'precio', 'fecha', 'cuenta'])

In [14]:
nuevos_items = [('nombre', 'Manzanas'), ('cajones', 100), ('precio', 490.1),('fecha', (13, 8, 2020))]
nuevos_items

[('nombre', 'Manzanas'),
 ('cajones', 100),
 ('precio', 490.1),
 ('fecha', (13, 8, 2020))]

In [16]:
d = dict(nuevos_items)
d

{'nombre': 'Manzanas', 'cajones': 100, 'precio': 490.1, 'fecha': (13, 8, 2020)}